<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="Search manga" [(ngModel)]="query" debounce="500" (ionChange)="search()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!results" size="large">No manga found</div>
  <ion-list *ngIf="results">
    <ion-item *ngFor="let manga of results" (click)='navigate(manga.url)'>
      <div class=item-content>
        <span *ngIf="manga.title">{{manga.title}}</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
